<?xml version="1.0" encoding="ISO-8859-1"?>
<web-app id="WebApp_ID" version="2.5" xmlns="http://java.sun.com/xml/ns/javaee" xmlns:web="http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd">
    <display-name>uniprix</display-name>
    <servlet-mapping>
        <servlet-name>dispatcher</servlet-name>
        <url-pattern>*.htm</url-pattern>
    </servlet-mapping>
    <welcome-file-list>
        <welcome-file>CategoriesServlet</welcome-file>
    </welcome-file-list>
    <login-config>
        <auth-method>FORM</auth-method>
        <form-login-config>
            <form-login-page>/connection.jsp</form-login-page>
            <form-error-page>/error.jsp</form-error-page>
        </form-login-config>
    </login-config>
    <security-constraint>
        <web-resource-collection>
            <web-resource-name>admin</web-resource-name>
            <url-pattern>/admin/*</url-pattern>
        </web-resource-collection>
        <auth-constraint>
            <role-name>1</role-name>
        </auth-constraint>
        <user-data-constraint>
            <description/>
            <transport-guarantee>CONFIDENTIAL</transport-guarantee>
        </user-data-constraint>
    </security-constraint>
    <security-constraint>
        <web-resource-collection>
            <web-resource-name>commande</web-resource-name>
            <url-pattern>/commande.jsp</url-pattern>
        </web-resource-collection>
        <auth-constraint>
            <role-name>1</role-name>
        </auth-constraint>
        <user-data-constraint>
            <description/>
            <transport-guarantee>CONFIDENTIAL</transport-guarantee>
        </user-data-constraint>
    </security-constraint>
    <security-constraint>
        <web-resource-collection>
            <web-resource-name>Admin</web-resource-name>
            <url-pattern>/partieadmin.jsp</url-pattern>
        </web-resource-collection>
        <auth-constraint>
            <role-name>2</role-name>
        </auth-constraint>
        <user-data-constraint>
            <description/>
            <transport-guarantee>CONFIDENTIAL</transport-guarantee>
        </user-data-constraint>
    </security-constraint>
    <security-constraint>
        <web-resource-collection>
            <web-resource-name>Admin</web-resource-name>
            <url-pattern>/partieadmin.jsp</url-pattern>
        </web-resource-collection>
        <auth-constraint>
            <role-name>2</role-name>
        </auth-constraint>
        <user-data-constraint>
            <description/>
            <transport-guarantee>CONFIDENTIAL</transport-guarantee>
        </user-data-constraint>
    </security-constraint>
    <security-constraint>
        <web-resource-collection>
            <web-resource-name>Admin</web-resource-name>
            <url-pattern>/ModifieCategorie</url-pattern>
        </web-resource-collection>
        <auth-constraint>
            <role-name>2</role-name>
        </auth-constraint>
        <user-data-constraint>
            <description/>
            <transport-guarantee>CONFIDENTIAL</transport-guarantee>
        </user-data-constraint>
    </security-constraint>
    <security-constraint>
        <web-resource-collection>
            <web-resource-name>Admin</web-resource-name>
            <url-pattern>/ListeCategorie</url-pattern>
        </web-resource-collection>
        <auth-constraint>
            <role-name>2</role-name>
        </auth-constraint>
        <user-data-constraint>
            <description/>
            <transport-guarantee>CONFIDENTIAL</transport-guarantee>
        </user-data-constraint>
    </security-constraint>
    <security-constraint>
        <web-resource-collection>
            <web-resource-name>Admin</web-resource-name>
            <url-pattern>/ListeProduitId</url-pattern>
        </web-resource-collection>
        <auth-constraint>
            <role-name>2</role-name>
        </auth-constraint>
        <user-data-constraint>
            <description/>
            <transport-guarantee>CONFIDENTIAL</transport-guarantee>
        </user-data-constraint>
    </security-constraint>
    <security-constraint>
        <web-resource-collection>
            <web-resource-name>Admin</web-resource-name>
            <url-pattern>/ListeArticle</url-pattern>
        </web-resource-collection>
        <auth-constraint>
            <role-name>2</role-name>
        </auth-constraint>
        <user-data-constraint>
            <description/>
            <transport-guarantee>CONFIDENTIAL</transport-guarantee>
        </user-data-constraint>
    </security-constraint>
    <security-constraint>
        <web-resource-collection>
            <web-resource-name>Admin</web-resource-name>
            <url-pattern>/ListeArticleAll</url-pattern>
        </web-resource-collection>
        <auth-constraint>
            <role-name>2</role-name>
        </auth-constraint>
        <user-data-constraint>
            <description/>
            <transport-guarantee>CONFIDENTIAL</transport-guarantee>
        </user-data-constraint>
    </security-constraint>
    <security-constraint>
        <web-resource-collection>
            <web-resource-name>Admin</web-resource-name>
            <url-pattern>/ListeProduit</url-pattern>
        </web-resource-collection>
        <auth-constraint>
            <role-name>2</role-name>
        </auth-constraint>
        <user-data-constraint>
            <description/>
            <transport-guarantee>CONFIDENTIAL</transport-guarantee>
        </user-data-constraint>
    </security-constraint>
    <security-constraint>
        <web-resource-collection>
            <web-resource-name>Admin</web-resource-name>
            <url-pattern>/ListeArticleAll</url-pattern>
        </web-resource-collection>
        <auth-constraint>
            <role-name>2</role-name>
        </auth-constraint>
        <user-data-constraint>
            <description/>
            <transport-guarantee>CONFIDENTIAL</transport-guarantee>
        </user-data-constraint>
    </security-constraint>
    <security-constraint>
        <web-resource-collection>
            <web-resource-name>Admin</web-resource-name>
            <url-pattern>/ListeClient</url-pattern>
        </web-resource-collection>
        <auth-constraint>
            <role-name>2</role-name>
        </auth-constraint>
        <user-data-constraint>
            <description/>
            <transport-guarantee>CONFIDENTIAL</transport-guarantee>
        </user-data-constraint>
    </security-constraint>
    <security-constraint>
        <web-resource-collection>
            <web-resource-name>Admin</web-resource-name>
            <url-pattern>/ListeCommande</url-pattern>
        </web-resource-collection>
        <auth-constraint>
            <role-name>2</role-name>
        </auth-constraint>
        <user-data-constraint>
            <description/>
            <transport-guarantee>CONFIDENTIAL</transport-guarantee>
        </user-data-constraint>
    </security-constraint>
    <security-constraint>
        <web-resource-collection>
            <web-resource-name>Admin</web-resource-name>
            <url-pattern>/ListeLigneCommande</url-pattern>
        </web-resource-collection>
        <auth-constraint>
            <role-name>2</role-name>
        </auth-constraint>
        <user-data-constraint>
            <description/>
            <transport-guarantee>CONFIDENTIAL</transport-guarantee>
        </user-data-constraint>
    </security-constraint>
    <security-constraint>
        <web-resource-collection>
            <web-resource-name>Admin</web-resource-name>
            <url-pattern>/ModifieArticle</url-pattern>
        </web-resource-collection>
        <auth-constraint>
            <role-name>2</role-name>
        </auth-constraint>
        <user-data-constraint>
            <description/>
            <transport-guarantee>CONFIDENTIAL</transport-guarantee>
        </user-data-constraint>
    </security-constraint>
    <security-constraint>
        <web-resource-collection>
            <web-resource-name>Admin</web-resource-name>
            <url-pattern>/ModifieCategorie</url-pattern>
        </web-resource-collection>
        <auth-constraint>
            <role-name>2</role-name>
        </auth-constraint>
        <user-data-constraint>
            <description/>
            <transport-guarantee>CONFIDENTIAL</transport-guarantee>
        </user-data-constraint>
    </security-constraint>
    <security-constraint>
        <web-resource-collection>
            <web-resource-name>Admin</web-resource-name>
            <url-pattern>/ModifieCommande</url-pattern>
        </web-resource-collection>
        <auth-constraint>
            <role-name>2</role-name>
        </auth-constraint>
        <user-data-constraint>
            <description/>
            <transport-guarantee>CONFIDENTIAL</transport-guarantee>
        </user-data-constraint>
    </security-constraint>
    <security-constraint>
        <web-resource-collection>
            <web-resource-name>Admin</web-resource-name>
            <url-pattern>/ModifieLigneCommande</url-pattern>
        </web-resource-collection>
        <auth-constraint>
            <role-name>2</role-name>
        </auth-constraint>
        <user-data-constraint>
            <description/>
            <transport-guarantee>CONFIDENTIAL</transport-guarantee>
        </user-data-constraint>
    </security-constraint>
    <security-constraint>
        <web-resource-collection>
            <web-resource-name>Admin</web-resource-name>
            <url-pattern>/ModifieProduit</url-pattern>
        </web-resource-collection>
        <auth-constraint>
            <role-name>2</role-name>
        </auth-constraint>
        <user-data-constraint>
            <description/>
            <transport-guarantee>CONFIDENTIAL</transport-guarantee>
        </user-data-constraint>
    </security-constraint>
    <security-constraint>
        <web-resource-collection>
            <web-resource-name>Admin</web-resource-name>
            <url-pattern>/ModifieClient</url-pattern>
        </web-resource-collection>
        <auth-constraint>
            <role-name>2</role-name>
        </auth-constraint>
        <user-data-constraint>
            <description/>
            <transport-guarantee>CONFIDENTIAL</transport-guarantee>
        </user-data-constraint>
    </security-constraint>
    <security-constraint>
        <web-resource-collection>
            <web-resource-name>Admin</web-resource-name>
            <url-pattern>/SupprimerArticle</url-pattern>
        </web-resource-collection>
        <auth-constraint>
            <role-name>2</role-name>
        </auth-constraint>
        <user-data-constraint>
            <description/>
            <transport-guarantee>CONFIDENTIAL</transport-guarantee>
        </user-data-constraint>
    </security-constraint>
    <security-constraint>
        <web-resource-collection>
            <web-resource-name>Admin</web-resource-name>
            <url-pattern>/SupprimerCategorie</url-pattern>
        </web-resource-collection>
        <auth-constraint>
            <role-name>2</role-name>
        </auth-constraint>
        <user-data-constraint>
            <description/>
            <transport-guarantee>CONFIDENTIAL</transport-guarantee>
        </user-data-constraint>
    </security-constraint>
    <security-constraint>
        <web-resource-collection>
            <web-resource-name>Admin</web-resource-name>
            <url-pattern>/SupprimerClient</url-pattern>
        </web-resource-collection>
        <auth-constraint>
            <role-name>2</role-name>
        </auth-constraint>
        <user-data-constraint>
            <description/>
            <transport-guarantee>CONFIDENTIAL</transport-guarantee>
        </user-data-constraint>
    </security-constraint>
    <security-constraint>
        <web-resource-collection>
            <web-resource-name>Admin</web-resource-name>
            <url-pattern>/SupprimerCommande</url-pattern>
        </web-resource-collection>
        <auth-constraint>
            <role-name>2</role-name>
        </auth-constraint>
        <user-data-constraint>
            <description/>
            <transport-guarantee>CONFIDENTIAL</transport-guarantee>
        </user-data-constraint>
    </security-constraint>
    <security-constraint>
        <web-resource-collection>
            <web-resource-name>Admin</web-resource-name>
            <url-pattern>/SupprimerProduit</url-pattern>
        </web-resource-collection>
        <auth-constraint>
            <role-name>2</role-name>
        </auth-constraint>
        <user-data-constraint>
            <description/>
            <transport-guarantee>CONFIDENTIAL</transport-guarantee>
        </user-data-constraint>
    </security-constraint>
    <security-constraint>
        <web-resource-collection>
            <web-resource-name>Admin</web-resource-name>
            <url-pattern>/SupprimerCommande</url-pattern>
        </web-resource-collection>
        <auth-constraint>
            <role-name>2</role-name>
        </auth-constraint>
        <user-data-constraint>
            <description/>
            <transport-guarantee>CONFIDENTIAL</transport-guarantee>
        </user-data-constraint>
    </security-constraint>
    <security-constraint>
        <web-resource-collection>
            <web-resource-name>commandeServlet</web-resource-name>
            <url-pattern>/CommandeServlet</url-pattern>
        </web-resource-collection>
        <auth-constraint>
            <role-name>1</role-name>
        </auth-constraint>
        <user-data-constraint>
            <description/>
            <transport-guarantee>CONFIDENTIAL</transport-guarantee>
        </user-data-constraint>
    </security-constraint>
    <security-constraint>
        <web-resource-collection>
            <web-resource-name>GestionCompteServlet</web-resource-name>
            <url-pattern>/GestionCompteServlet</url-pattern>
        </web-resource-collection>
        <auth-constraint>
            <role-name>1</role-name>
        </auth-constraint>
        <user-data-constraint>
            <description/>
            <transport-guarantee>CONFIDENTIAL</transport-guarantee>
        </user-data-constraint>
    </security-constraint>
    <security-constraint>
        <web-resource-collection>
            <web-resource-name>connect</web-resource-name>
            <url-pattern>/ConnecterServlet</url-pattern>
        </web-resource-collection>
        <auth-constraint>
            <role-name>1</role-name>
        </auth-constraint>
        <user-data-constraint>
            <description/>
            <transport-guarantee>CONFIDENTIAL</transport-guarantee>
        </user-data-constraint>
    </security-constraint>
    <context-param>
        <param-name>contextConfigLocation</param-name>
        <param-value>/WEB-INF/applicationContext.xml</param-value>
    </context-param>
    <listener>
        <description>sessionListener</description>
        <listener-class>
            com.uniprix.model.Panier
        </listener-class>
    </listener>
    <listener>
        <listener-class>com.uniprix.listener.ContextEntityManagerListener</listener-class>
    </listener>
    <listener>
        <listener-class>org.springframework.web.context.ContextLoaderListener</listener-class>
    </listener>
    <servlet>
        <description/>
        <display-name>PanierServlet</display-name>
        <servlet-name>PanierServlet</servlet-name>
        <servlet-class>com.uniprix.controller.PanierServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>dispatcher</servlet-name>
        <servlet-class>org.springframework.web.servlet.DispatcherServlet</servlet-class>
        <load-on-startup>2</load-on-startup>
    </servlet>
    <servlet-mapping>
        <servlet-name>PanierServlet</servlet-name>
        <url-pattern>/PanierServlet</url-pattern>
    </servlet-mapping>
    <servlet>
        <description/>
        <display-name>CommandeServlet</display-name>
        <servlet-name>CommandeServlet</servlet-name>
        <servlet-class>com.uniprix.controller.CommandeServlet</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>CommandeServlet</servlet-name>
        <url-pattern>/CommandeServlet</url-pattern>
    </servlet-mapping>
    <servlet>
        <description/>
        <display-name>InscriptionServlet</display-name>
        <servlet-name>InscriptionServlet</servlet-name>
        <servlet-class>com.uniprix.controller.InscriptionServlet</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>InscriptionServlet</servlet-name>
        <url-pattern>/inscription</url-pattern>
    </servlet-mapping>
    <servlet>
        <description/>
        <display-name>ConnecterServlet</display-name>
        <servlet-name>ConnecterServlet</servlet-name>
        <servlet-class>com.uniprix.controller.ConnecterServlet</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>ConnecterServlet</servlet-name>
        <url-pattern>/ConnecterServlet</url-pattern>
    </servlet-mapping>
    <servlet>
        <description/>
        <display-name>CategorieServlet</display-name>
        <servlet-name>CategorieServlet</servlet-name>
        <servlet-class>com.uniprix.controller.CategorieServlet</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>CategorieServlet</servlet-name>
        <url-pattern>/CategorieServlet</url-pattern>
    </servlet-mapping>
    <servlet>
        <description/>
        <display-name>CategoriesServlet</display-name>
        <servlet-name>CategoriesServlet</servlet-name>
        <servlet-class>com.uniprix.controller.CategoriesServlet</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>CategoriesServlet</servlet-name>
        <url-pattern>/CategoriesServlet</url-pattern>
    </servlet-mapping>
    <servlet>
        <description/>
        <display-name>ProduitServlet</display-name>
        <servlet-name>ProduitServlet</servlet-name>
        <servlet-class>com.uniprix.controller.ProduitServlet</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>ProduitServlet</servlet-name>
        <url-pattern>/ProduitServlet</url-pattern>
    </servlet-mapping>
    <servlet>
        <description/>
        <display-name>ArticleServlet</display-name>
        <servlet-name>ArticleServlet</servlet-name>
        <servlet-class>com.uniprix.controller.ArticleServlet</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>ArticleServlet</servlet-name>
        <url-pattern>/ArticleServlet</url-pattern>
    </servlet-mapping>
    <servlet>
        <description/>
        <display-name>ListeCategorieServlet</display-name>
        <servlet-name>ListeCategorieServlet</servlet-name>
        <servlet-class>com.uniprix.controller.ListeCategorieServlet</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>ListeCategorieServlet</servlet-name>
        <url-pattern>/ListeCategorie</url-pattern>
    </servlet-mapping>
    <servlet>
        <description/>
        <display-name>ModifieCategorieServlet</display-name>
        <servlet-name>ModifieCategorieServlet</servlet-name>
        <servlet-class>com.uniprix.controller.ModifieCategorieServlet</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>ModifieCategorieServlet</servlet-name>
        <url-pattern>/ModifieCategorie</url-pattern>
    </servlet-mapping>
    <servlet>
        <description/>
        <display-name>SupprimerCategorieServlet</display-name>
        <servlet-name>SupprimerCategorieServlet</servlet-name>
        <servlet-class>com.uniprix.controller.SupprimerCategorieServlet</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>SupprimerCategorieServlet</servlet-name>
        <url-pattern>/SupprimerCategorie</url-pattern>
    </servlet-mapping>
    <servlet>
        <description/>
        <display-name>CreationCategorieServlet</display-name>
        <servlet-name>CreationCategorieServlet</servlet-name>
        <servlet-class>com.uniprix.controller.CreationCategorieServlet</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>CreationCategorieServlet</servlet-name>
        <url-pattern>/CreationCategorie</url-pattern>
    </servlet-mapping>
    <servlet>
        <description/>
        <display-name>ListeProduitAllServlet</display-name>
        <servlet-name>ListeProduitAllServlet</servlet-name>
        <servlet-class>com.uniprix.controller.ListeProduitAllServlet</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>ListeProduitAllServlet</servlet-name>
        <url-pattern>/ListeProduit</url-pattern>
    </servlet-mapping>
    <servlet>
        <description/>
        <display-name>ListeProduitIdServlet</display-name>
        <servlet-name>ListeProduitIdServlet</servlet-name>
        <servlet-class>com.uniprix.controller.ListeProduitIdServlet</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>ListeProduitIdServlet</servlet-name>
        <url-pattern>/ListeProduitId</url-pattern>
    </servlet-mapping>
    <servlet>
        <description/>
        <display-name>ModifieProduitServlet</display-name>
        <servlet-name>ModifieProduitServlet</servlet-name>
        <servlet-class>com.uniprix.controller.ModifieProduitServlet</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>ModifieProduitServlet</servlet-name>
        <url-pattern>/ModifieProduit</url-pattern>
    </servlet-mapping>
    <servlet>
        <description/>
        <display-name>SupprimerProduitServlet</display-name>
        <servlet-name>SupprimerProduitServlet</servlet-name>
        <servlet-class>com.uniprix.controller.SupprimerProduitServlet</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>SupprimerProduitServlet</servlet-name>
        <url-pattern>/SupprimerProduit</url-pattern>
    </servlet-mapping>
    <servlet>
        <description/>
        <display-name>CreationProduitServlet</display-name>
        <servlet-name>CreationProduitServlet</servlet-name>
        <servlet-class>com.uniprix.controller.CreationProduitServlet</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>CreationProduitServlet</servlet-name>
        <url-pattern>/CreationProduit</url-pattern>
    </servlet-mapping>
    <servlet>
        <description/>
        <display-name>ListeArticleServlet</display-name>
        <servlet-name>ListeArticleServlet</servlet-name>
        <servlet-class>com.uniprix.controller.ListeArticleServlet</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>ListeArticleServlet</servlet-name>
        <url-pattern>/ListeArticle</url-pattern>
    </servlet-mapping>
    <servlet>
        <description/>
        <display-name>ListeArticleAllServlet</display-name>
        <servlet-name>ListeArticleAllServlet</servlet-name>
        <servlet-class>com.uniprix.controller.ListeArticleAllServlet</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>ListeArticleAllServlet</servlet-name>
        <url-pattern>/ListeArticleAll</url-pattern>
    </servlet-mapping>
    <servlet>
        <description/>
        <display-name>ModifieArticleServlet</display-name>
        <servlet-name>ModifieArticleServlet</servlet-name>
        <servlet-class>com.uniprix.controller.ModifieArticleServlet</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>ModifieArticleServlet</servlet-name>
        <url-pattern>/ModifieArticle</url-pattern>
    </servlet-mapping>
    <servlet>
        <description/>
        <display-name>CreationArticleServlet</display-name>
        <servlet-name>CreationArticleServlet</servlet-name>
        <servlet-class>com.uniprix.controller.CreationArticleServlet</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>CreationArticleServlet</servlet-name>
        <url-pattern>/CreationArticle</url-pattern>
    </servlet-mapping>
    <servlet>
        <description/>
        <display-name>SupprimerArticleServlet</display-name>
        <servlet-name>SupprimerArticleServlet</servlet-name>
        <servlet-class>com.uniprix.controller.SupprimerArticleServlet</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>SupprimerArticleServlet</servlet-name>
        <url-pattern>/SupprimerArticle</url-pattern>
    </servlet-mapping>
    <servlet>
        <description/>
        <display-name>ListeClientServlet</display-name>
        <servlet-name>ListeClientServlet</servlet-name>
        <servlet-class>com.uniprix.controller.ListeClientServlet</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>ListeClientServlet</servlet-name>
        <url-pattern>/ListeClient</url-pattern>
    </servlet-mapping>
    <servlet>
        <description/>
        <display-name>TransitionServlet</display-name>
        <servlet-name>TransitionServlet</servlet-name>
        <servlet-class>com.uniprix.controller.TransitionServlet</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>TransitionServlet</servlet-name>
        <url-pattern>/Transition</url-pattern>
    </servlet-mapping>
    <servlet>
        <description/>
        <display-name>GestionCompteServlet</display-name>
        <servlet-name>GestionCompteServlet</servlet-name>
        <servlet-class>com.uniprix.controller.GestionCompteServlet</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>GestionCompteServlet</servlet-name>
        <url-pattern>/GestionCompteServlet</url-pattern>
    </servlet-mapping>
    <servlet>
        <description/>
        <display-name>RechercheServlet</display-name>
        <servlet-name>RechercheServlet</servlet-name>
        <servlet-class>com.uniprix.controller.RechercheServlet</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>RechercheServlet</servlet-name>
        <url-pattern>/RechercheServlet</url-pattern>
    </servlet-mapping>
    <servlet>
        <description/>
        <display-name>ListeCommandeServlet</display-name>
        <servlet-name>ListeCommandeServlet</servlet-name>
        <servlet-class>com.uniprix.controller.ListeCommandeServlet</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>ListeCommandeServlet</servlet-name>
        <url-pattern>/ListeCommande</url-pattern>
    </servlet-mapping>
    <servlet>
        <description/>
        <display-name>ListeLigneCommandeServlet</display-name>
        <servlet-name>ListeLigneCommandeServlet</servlet-name>
        <servlet-class>com.uniprix.controller.ListeLigneCommandeServlet</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>ListeLigneCommandeServlet</servlet-name>
        <url-pattern>/ListeLigneCommande</url-pattern>
    </servlet-mapping>
    <servlet>
        <description/>
        <display-name>ModifierClientServlet</display-name>
        <servlet-name>ModifierClientServlet</servlet-name>
        <servlet-class>com.uniprix.controller.ModifierClientServlet</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>ModifierClientServlet</servlet-name>
        <url-pattern>/ModifierClient</url-pattern>
    </servlet-mapping>
    <servlet>
        <description/>
        <display-name>ModifieCommandeServlet</display-name>
        <servlet-name>ModifieCommandeServlet</servlet-name>
        <servlet-class>com.uniprix.controller.ModifieCommandeServlet</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>ModifieCommandeServlet</servlet-name>
        <url-pattern>/ModifieCommande</url-pattern>
    </servlet-mapping>
    <servlet>
        <description/>
        <display-name>SupprimerCommandeServlet</display-name>
        <servlet-name>SupprimerCommandeServlet</servlet-name>
        <servlet-class>com.uniprix.controller.SupprimerCommandeServlet</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>SupprimerCommandeServlet</servlet-name>
        <url-pattern>/SupprimerCommande</url-pattern>
    </servlet-mapping>
    <servlet>
        <description/>
        <display-name>ModifieLigneCommandeServlet</display-name>
        <servlet-name>ModifieLigneCommandeServlet</servlet-name>
        <servlet-class>com.uniprix.controller.ModifieLigneCommandeServlet</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>ModifieLigneCommandeServlet</servlet-name>
        <url-pattern>/ModifieLigneCommande</url-pattern>
    </servlet-mapping>
    <servlet>
        <description/>
        <display-name>SupprLigneCommandeServlet</display-name>
        <servlet-name>SupprLigneCommandeServlet</servlet-name>
        <servlet-class>com.uniprix.controller.SupprLigneCommandeServlet</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>SupprLigneCommandeServlet</servlet-name>
        <url-pattern>/SupprLigneCommande</url-pattern>
    </servlet-mapping>
    <servlet>
        <description/>
        <display-name>LogoutServlet</display-name>
        <servlet-name>LogoutServlet</servlet-name>
        <servlet-class>com.uniprix.controller.LogoutServlet</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>LogoutServlet</servlet-name>
        <url-pattern>/Logout</url-pattern>
    </servlet-mapping>
    <servlet>
        <description/>
        <display-name>ListeCommandeUserServlet</display-name>
        <servlet-name>ListeCommandeUserServlet</servlet-name>
        <servlet-class>com.uniprix.controller.ListeCommandeUserServlet</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>ListeCommandeUserServlet</servlet-name>
        <url-pattern>/ListeCommandeUser</url-pattern>
    </servlet-mapping>
    <servlet>
        <description/>
        <display-name>LstLigneCommandeServlet</display-name>
        <servlet-name>LstLigneCommandeServlet</servlet-name>
        <servlet-class>com.uniprix.controller.LstLigneCommandeServlet</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>LstLigneCommandeServlet</servlet-name>
        <url-pattern>/LstLigneCommande</url-pattern>
    </servlet-mapping>
</web-app>
